<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="icon" href="/assets/favicon.ico">
  <script src="/scripts/jquery-3.6.0.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script> -->
  <title>IDK Fuzzer</title>
</head>

<body class="details-body">
    <h1>
        Summary of job <%= details.jobName %>
    </h1>
    <ul class="details-list">
      <li> Job Name: <%= details.jobName %></li>
      <li> Author: <%= details.author %></li>
      <li> Binary Name: <%= details.binName %></li>
      <li> Running: <%= details.active %></li>
      <li> Image Name: <%= details.imageName %></li>
      <li> Mutator Count: <%= details.mcount %></li>
      <li> Fuzzer Count: <%= details.fcount %> </li>
      <li> No. of testcases: <%= details.testCases %></li>
      <li> Start Date: <%= details.startDate %></li>
      <li> Start Time: <%= details.startTime %></li>
      <li> End Date: <%= details.endDate %></li>
      <li> End Time: <%= details.endTime %></li>
    </ul>
</body>
</html>